.years-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 35px;
  justify-items: center;
  max-width: 1200px;
  margin: 50px auto;
}

.year-item {
  font-size: 36px;
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.year-item:hover {
  opacity: 0.5;
  transform: scale(1.05);
}
