@charset "UTF-8";
/*
 * File       : _variables.scss
 *
 *
 * SUMMARY:
 * 01) COLOR
 * 02) SIZE
 */


:root{
    --color-primary-0 : #fff;
    --color-primary-10 : #F2F4F5;
    --color-primary-20 : var(--border-color);
    --color-primary-30 : #D7DDE4;
    --color-primary-40 : #C7CED5;
    --color-primary-50 : #B5BEC7;
    --color-primary-60 : #9DA4AD;
    --color-primary-70 : #7E858E;
    --color-primary-80 : #5B626B;
    --color-primary-90 : #3C4148;
    --color-primary-100 : #1B1F27;
    --point-red: #CF4A4A;
    --point-orange: #D35C28;
    --point-yellow: #D78D1B;
    --point-green: #59963B;
    --point-mint: #238C92;
    --point-skyblue: #1D79B7;
    --point-blue: #343787;
    --point-violet: #5A3EA4;
    --point-pink: #C6436D;
    --point-black: #1B1F27;
    --system-red: #c02727;
    --system-blue: #2B50C2;
    --system-yellow: #D2971A;
    --system-green: #3AA549;
    --system-red-10: rgba(192, 39, 39, 0.1);
    --system-blue-10: rgba(43, 80, 194, 0.1);
    --system-yellow-10: rgba(210, 151, 26, 0.1);
    --system-green-10: rgba(58, 165, 73, 0.1);
    --border-color: #EAEDEF;
    --inner : 18px;

}


/*----- 경로 ----*/
$url-bg:"../../images/cmn/";



/*----- SIZE ----*/
$area-left: 252px;

$hd-height:64px;

$input-height:40px;
$tbl-util-height:35px;

$tbl-line: 1px solid #000;
$tbl-bg: #fff;


/*---- PADDING ----*/
$pd-layout:20px;
$pd-layout-left:30px;
$pd-layout-right:30px;

$pd-5:5px;
$pd-10:10px;
$pd-15:15px;
$pd-20:20px;
$pd-30:30px;

$pd-box-top:16.5px;
$pd-box-bottom:16.5px;
$pd-box-top-m:12px;
$pd-box-bottom-m:12px;


/*---- MARGIN ----*/
$mg-5:5px;
$mg-10:10px;
$mg-15:15px;
$mg-20:20px;
$mg-30:30px;


/*---- BORDER-RADIUS ----*/
$border-radius-2:2px;
$border-radius-4:4px;
$border-radius-5:5px;
$border-radius-6:6px;
$border-radius-8:8px;
$border-radius-10:10px;
$border-radius-15:15px;
$border-radius-20:20px;
$border-radius-50:50%;

$radius-default:10px;


/*----PX REM SIZE ----*/
@function px2rem($px, $remBase: 16) {
    @return ($px / $remBase) * 1rem;
  }
  
@function deUnit($value) {
@if type-of($value) == 'number' {
    @return $value / 1;
}
@return $value;
}
  

/*---- FONT-SIZE ----*/
$fs-12:px2rem(12);
$fs-13:px2rem(13);
$fs-14:px2rem(14);
$fs-15:px2rem(15);
$fs-16:px2rem(16);
$fs-17:px2rem(17);
$fs-18:px2rem(18);
$fs-19:px2rem(19);
$fs-20:px2rem(20);
$fs-22:px2rem(22);
$fs-24:px2rem(24);
$fs-26:px2rem(26);
$fs-28:px2rem(28);


/*----- TRANSITION ----*/
$ts-cmn:.3s;



/*----- TABLE VAR COLUME ----*/
$view-th:15%;



/*----- MODAL ----*/
$modal-tit-h:66px;