@charset "UTF-8";


/*--------------------------------------------------------------------- LAYOUT --------------------------*/



@media screen and (max-width: 1500px) {
    body {
      width: 1520px;
    }
   
}

