@charset "UTF-8"; 

:root{
  --color-main: #FAC213;
  --font-line: "LINESeedKR",sans-serif;
  --color-list01: #01A26B;
  --color-list02: #64C5EB;
  --color-list03: #EF8026;       
  --color-list04: #B67CB2;       
  --color-list05: #5C87BE;       
  --color-list06: #FF7266;       
  --color-list07: #AECF30;       
  --color-list08: #8C4729;       
  --color-list09: #FFF251;  
  --color-list01_bg: #CCECE0;
  --color-list02_bg: #C8EBF8;
  --color-list03_bg: #FADBC1;
  --color-list05_bg: #CDDBEC;
  --color-list06_bg: #FFD4D1;
  --color-list07_bg: #E7EEB9;
  --color-list08_bg: rgba(140, 71, 41, 0.2);
}
/*--------------------------------------------------------- 리더기전용 ---------------------------*/
.sr-only { position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden; } 



/*--------------------------------------------------------- FLEX ---------------------------*/
.flex { display:flex; } 
.flex-c-all { display:flex; align-items:center; justify-content:center; } 
.flex-c-space { display:flex; align-items:center; justify-content:space-between; } 

.flex-h-c { display:flex; align-items:center; } 
.flex-space { display:flex; justify-content:space-between; } 

.flex-txt-c a { display:flex; align-items:center; justify-content:center; } 

.flex-end {align-items: flex-end;}
.flex-dir{display: flex; flex-direction: column;}
.flex-right{display: flex; justify-content: right;}






/*--------------------------------------------------------- FORM COMMON ---------------------------*/
/*---- 공통 ----*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="number"],
select,
.txt-box,
.attach__btn { width:100%; border-radius:4px; border:1px solid #E6E9EB; font-size:14px; color:var(--black); } 

input[type="text"],
input[type="password"],
input[type="email"], 
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="number"],
input + button,
select { height:40px; padding:0 15px; } 

textarea { display:block; padding:6px 3px 6px 9px; width:100%; min-height:100px; resize:none; line-height:1.5; font-size:inherit; } 
textarea::-webkit-scrollbar { width:6px; height:6px; } 
textarea::-webkit-scrollbar-thumb { background:#a7a7a7; } 


/*---- 분리된 input ----*/
.input-sep { display:flex; align-items:center; } 
.input-sep .input-hyphen { width:28px; height:28px; padding:0 6px; text-align:center; } 

 /* input + button */
 .input-btn { display:flex; align-items:center; } 
 .input-btn input + button { margin-left:8px; } 
 .input-btn input[disabled="disabled"].attach__tit { color:#000 !important; } 


/*---- row ----*/
/* .input-row input:not(:last-child) { margin-bottom:10px; } */


/*---- email ----*/
.input-email input[type="text"].input-email__id { max-width:150px; } 
.input-email input[type="text"].input-email__add,
.input-email input[type="text"].input-email__add + select { max-width:180px; } 
.input-email input[type="text"].input-email__add + select { margin-left:8px; } 


/*---- tel ----*/
.input-sep.input-tel select,
.input-sep.input-tel input { max-width:117px; } 


/*---- select-required::첫번째 옵션 숨기기 ----*/
.select-required > select > option[value=""][disabled] { display:none; } 
/* .select-required > select:required:invalid { color:#a2a2a2; }  */
.select-required > select > option { color:#000; } 


/*---- select:disabled ----*/
select:disabled {background-color: #f7f7f8;color:#888;}




/*---- date ----*/
input[type="date"] { max-width:180px; } 
input[type="datetime-local"] { max-width:260px; } 


/*---- datepick ----*/
.datepick input { max-width:180px; } 


/*---- dateTime ----*/
.date-time input { max-width:260px; } 


/*---- time ----*/
input[type="time"],
.input-time input { max-width:180px; } 


/*---- textbox ----*/
.txt-box { position:relative; padding-bottom:26px; } 
.txt-box__count { position:absolute; bottom:6px; right:9px; font-size:13px; } 


/*---- 파일첨부 ----*/
.attach__btn { position:relative; width:80px; font-size:15px; border:none; } 
.attach__input { position:absolute; top:0; right:0; height:100%; cursor:pointer; opacity:0; filter:alpha(opacity=0); -ms-filter:"alpha(opacity=0)"; -moz-opacity:0; } 


/*---- 주소 ----*/
.address__post,
.address__detail input:not(:last-child) { margin-bottom:10px; } 
/* .address__post input { max-width:180px; }  */




/*--------------------------------------------------------------------- BUTTON --------------------------*/
/*-- 개수 --*/
.btn-2ea { display:flex; } 
.btn-2ea .btn { width:50%; } 
.btn-2ea .btn:not(:last-child) { margin-right:10px; } 


/*-- SIZE --*/
.btn { display:inline-block; vertical-align:middle; text-align:center;} 
.btn.small { width:60px; height:30px; line-height:30px; font-size:14px; } 
.btn.medium { width:150px; height:50px; line-height:50px; } 
.btn.large { width:230px; height:70px; line-height:70px; } 

.btn.small.btn-line { line-height:calc(30px - 1px); } 
.btn.medium.btn-line { line-height:calc(50px - 1px); } 
.btn.large.btn-line { line-height:calc(70px - 1px); } 

/*-- COLOR --*/
/* bg */
.btn.black { background:#000; color:#fff; } 
.btn.black02 { background:var(--black); color:#fff; } 
.btn.gray01 { background:#d0d0d0; color:#fff; } 
.btn.gray02 { background:#bababa; color:#fff; } 
.btn.gray03 { background:#888; color:#fff; } 
.btn.gray04 { background:#666; color:#fff; } 
.btn.gray05 { background:#505050; color:#fff; } 
.btn.gray06 { background:#404040; color:#fff; } 
.btn.gray07 { background:#333; color:#fff; } 
.btn.gray08 { background:#232323; color:#fff; } 
.btn.red { background:#f00; color:#fff; } 
.btn.blue { background:#0004ff; color:#fff; } 
.btn.green { background:#28ff00; color:#fff; } 
.btn.yellow { background:#f4ff00; color:#fff; }



/* line */
.btn.blackLine { border:1px solid #000; } 
.btn.blackLine02 { border:1px solid #232323; } 
.btn.blackLine03 { border:1px solid #888; } 
.btn.blueLine{ border:1px solid #235FD9; color: #235FD9;} 






/*--------------------------------------------------------------------- ICON --------------------------*/
/*-- RESET --*/
.btn.ico { line-height:1; } 


/*-- COMMON --*/
.ico { display:inline-flex; align-items:center; justify-content:center; } 
.ico i { background-repeat:no-repeat; background-size:cover; } 

.ico-center { flex-direction:column; } 
.ico-center i { margin-bottom:3px; } 
.ico-left i { margin-right:8px; } 
.ico-right i { margin-left:8px; } 

.ico-txt { font-size:inherit; color:inherit; letter-spacing:inherit; } 




/*--------------------------------------------------------------------- bg --------------------------*/
.bg-gray { background-color: #f7f7f7; } 






/*--------------------------------------------------------------------- modal --------------------------*/
.layer-bg { position:fixed; width:100%; height:100%; left:0; background:rgba(0,0,0,0.7); z-index:9; } 

.blocker,
.alert { position:fixed; top:0; left:0; display:flex; align-items:center; justify-content:center; width:100%; height:100%; z-index:9999;} 
.modal,
.alert__cont { } 
.modal-txt { margin-bottom:40px; } 
.modal-txt__tit,
.alert-txt__tit { font-size:18px; font-weight:700; margin-bottom:10px; } 
.modal-txt__cont,
.alert-txt__cont { color:#535353; word-break:keep-all; } 
.modal__btn .btn { width:100%; height:55px; line-height:55px; border-radius:10px; } 


/*-- alert --*/
.alert { display:none; } 
.alert.show { display:flex; } 
.alert__close { float:right; } 
.alert__close > img { width:15px; height:15px; } 
.alert__cont { clear:both; min-height:140px; } 



/*--------------------------------------------------------------------- TABLE --------------------------*/
/* common */
table th,
table td { padding:5px; } 
