@charset "UTF-8";

.pc-ver { display: block !important; } 
.pad-ver { display: none !important; } 
.mobile-ver { display: none !important; } 


/*--------------------------------------------------------------------- LAYOUT --------------------------*/
.inner { max-width: 1360px; width: 100%; margin: 0 auto; padding: 0 40px; } 
.inner-wide { max-width: 1500px; } 
.container { position: relative; } 
.container-wrap { margin-top: 60px; padding-bottom: 100px; min-height: 500px; } 


@media (max-width: 1420px) {
 .inner,
 .inner-wide { max-width: 100%; padding: 0 40px; } 
 .container-wrap { margin-top: 50px; } 
}


@media (max-width: 768px) {
 .inner,
 .inner-wide { padding: 0 20px; } 
 .container-wrap { margin-top: 40px; } 
}