@charset "UTF-8";
/*
 * File       : _sub.scss
 * Date       : 2025.04.
 *
 *
 * SUMMARY:
 * 01) 
 * 02) 
 * 03) 
 * 04) 
 */


/** icon 공통 **/
$url-bg2:"../../images/adm/";

@mixin bg-style2($bgName){
  background-image:url($url-bg2 + $bgName + ".svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin icon-style-adm($width, $height, $bgName){
  @include bg-style2($bgName);
  width:$width;
  height:$height;
}

.ico{
  &-search_w{@include icon-style(24px, 24px, "ico-search_w");}
  &-message{@include icon-style(16px, 16px, "ico-message");}
  &-setting{@include icon-style-adm(28px, 28px, "ico-setting");}
  &-delete{@include icon-style-adm(30px, 30px , "ico-delete")}
  &-excel{@include icon-style-adm(20px, 20px , "ico-excel")}
  &-down{@include icon-style-adm(20px, 20px , "ico-down")}
  &-apply{@include icon-style-adm(20px, 20px , "ico-apply")}
  &-list_delete{@include icon-style-adm(34px, 34px, "ico-list_delete")}
  &-btn_back{@include icon-style-adm(40px, 40px, "ico-back_black")}

}

/** button 공통 **/
@mixin btn-basic-style($width: 140px, $height: 40px, $radius: 10px, $font-size: $fs-16) {
  width: $width;
  height: $height;
  border-radius: $radius;
  font-size: $font-size;
  font-weight: 500;
}

.btn {
  &-wrap {
    .btn-wrap{
      width: auto;
      margin: 0;
    }
    margin-top: 25px;
  }
  &.list-btn {
    @include btn-basic-style;
  }
  &.btn-basic01 {
    @include btn-basic-style;
    background-color: var(--color-primary-0);
    border: 1px solid var(--color-primary-100);
  }

  &.btn-basic02 {
    @include btn-basic-style;
    border: 1px solid var(--color-primary-100);
    background: var(--color-primary-10);
  }
  &.btn-small01 {
    width: 60px;
    height: 24px;
    border-radius: 30px;
    border: 1px solid var(--color-primary-100);
    background: var(--color-primary-10);
    color: var(--color-primary-100);
    font-size: 14px;
    font-weight: 500;
  }
  &.btn-excel{
    background-color: var(--system-green);
    color: #fff;
  }
  &.btn-navy{
    background-color: var(--system-navy-1);
    color: #fff;
  }
  &.btn-red{
    background-color: var(--system-red);
    color: #fff;
  }
}

/** input 공통 **/
input[type=text],
input[type=name],
input[type=password],
input[type=date]{
  &.input-small{
    padding: 0 10px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--color-primary-20);
    background: var(--color-primary-0);
  }
}

/** select **/
.select-wrap.nowrap{
  flex-wrap: nowrap;
}


.select-wrap{
  &.row{
    margin-right: calc(-0.5 * var(--gutter-x2));
    margin-left: calc(-0.5 * var(--gutter-x2));
    gap: 0;
    &.row-cols-4{
      .selectric-wrapper{
        width: 25%;
      }
      .selectric-items{
       left: calc(var(--gutter-x2) * 0.5);
      }
    }

  }
  &.type02{
    .selectric-disabled .selectric {
      background-color: var(--color-primary-20);
      border-color: var(--color-primary-30);
    }
    .selectric{
      height: 40px;
      border-radius: 10px;
      border: 1px solid var(--color-primary-20);
      background: var(--color-primary-0);
      .label{
        font-size: 15px;
        margin: 0 30px 0 10px;
        height: 38px;
        line-height: 38px;
      }
      .button{
        width: 40px;
        height: 40px;
      }
      .selectric-items{
        padding-top: 40px;
      }
      .selectric-items ul, .selectric-items li{
        font-size: 15px;
        line-height: 40px;
        min-height: 40px
      }

    }
  }
}



/** tit 공통 **/
.main-tit{
  font-size: $fs-24;
  margin-bottom: 15px;
  gap: 5px;
  i{
    margin-right: 2px;
    &.ico{
      &-home{@include icon-style(30px, 30px, "gnb-home");}
      &-candidater{@include icon-style(30px, 30px, "gnb-candidater");}
      &-camppeople{@include icon-style(30px, 30px, "gnb-camppeople");}
      &-voter{@include icon-style(30px, 30px, "gnb-voter");}
      &-heart{@include icon-style(30px, 30px, "gnb-heart");}
      &-date{@include icon-style(30px, 30px, "gnb-date");}
      &-message{@include icon-style(30px, 30px, "gnb-message");}
      &-notice{@include icon-style(30px, 30px, "gnb-notice");}
      &-chart{@include icon-style(30px, 30px, "gnb-chart");}
    }
    @include mobile{
      margin-right: 0;
    }
  }
  span{
    font-weight: 400;
  }
  @include tablet{
    font-size: $fs-20;
  }
  @include mobile{
    font-size: $fs-18;
  }
 
}
.sub-tit{
  font-size: $fs-20;
  margin-bottom: 15px;
  span{
    font-weight: 400;
    font-size: inherit;
  }
  @include mobile{
    font-size: $fs-16;
    margin-bottom: 8px;
  }
}


/*-------- 개별 -------*/
/** login **/
.container-login{
  margin-left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  padding-bottom: 80px;
  @include laptop{
    padding-bottom: 50px;
  }
  @include mobile{
    padding-bottom: 28px;
  }
  main{
    height: 100%;
  }
  .login-wrap{
    max-width: 324px;
    width: 100%;
    margin: 0 auto;
    .input-wrap input[type=text], 
    .input-wrap input[type=password], 
    .input-wrap input[type=date], 
    .input-wrap input[type=num]{
      font-size: $fs-14;
    }
  }
}

.container-list{
  main{
    height: auto;
  }
  .footer{
    padding-bottom: 16px;
  }
  input{
    border: 1px solid var(--color-primary-20);
    width: 260px;
    height: 40px;
    border-radius: 10px;
    font-size: $fs-14;
    padding: 0 10px;
  }
}

// cadidater
.candidater-wrap{
  width: 100%;
  height: 100%;
  .btn-register{
    border-radius: 20px;
    border: 2px dashed var(--color-primary-30);
    background: var(--color-primary-0);
    box-shadow: 0px 0px 25px 0px rgba(199, 206, 213, 0.50);
    width: 320px;
    height: 140px;
    flex-shrink: 0;
    @include mobile{
      width: 100%;
    }
    @extend .f-c-all;
    gap: 20px;
    font-size: $fs-24;
    font-weight: 700;
  }
  .candidater-list{
    width: 600px;
    height: 100%;
    .selectSg-box{
      height: 100%;
    }
    .selectSg-cont{
      padding: 0 50px;
    }
    .candidater-info{
      padding: 30px 40px;
      border-radius: 20px;
      margin-top: 10px;
      background: var(--color-primary-10);
      &__top{
        gap: 20px;
        padding-bottom: 19px;
        border-bottom: 1px solid var(--color-primary-30);
      }
      .profile-img{
        span{border: 0;}
      }
      .profile-info{
        font-size: 24px;
        color: var(--color-primary-80);
        b{
          color: var(--color-primary-100);
        }
        span{
          font-size: 20px;
        }
      }
      .detail{
        margin-top: 20px;
        > li{
          @extend .flex;
          gap: 10px;
          + li{margin-top: 20px;}
          &.detail-idea{
            align-items: flex-start;
          }
          &.detail-hidden{
            display: none;
          }
        }
        &-tit{
          width: 110px;
          flex: none;
          line-height: 1.6;
          span{
            font-size: $fs-18;
            font-weight: 400;
            color: var(--color-primary-80);
            &.text-justify{
              white-space: pre;
              width: calc(100% - 10px);
              display: block;
            }
          }
        }
        &-cont{
          font-size: $fs-18;
          font-weight: 500;
          word-break: keep-all;
          line-height: 1.6;
          position: relative;
          &.history{
            li{
              &:before{
                content: '·';
                margin-right: 3px;
              }
              display: flex;
            }
          }
        }
      }
    }
  }
}
.small-info{
  font-size: $fs-14;
  color: var(--color-primary-60);
  line-height: 1.4;
}

.border-top-6{border-top: 6px solid #F2F4F5;}

// picture
.picture_wrap{
  .ico-picture_add{
    position: absolute;
    bottom: -4px;
    right: -9px;
  }
  .picture-tit{
    font-size: $fs-14;
    margin-bottom: 8px;
  }
  .small-info{
    font-size: 10px;
  }
}



// popup
.popup{
  &-admin{
    &.popup{
      &-big{
          .popup-inner{
            max-width: 1400px;
          }
          input[type=text], input[type=password], input[type=number], input[type=date], select, textarea{font-size: 14px;}
          .table td{padding: 0 5px;}
          .table th:after{display: none;}
          .select-wrap{gap: 0 5px;}
        }
        
    }
    .popup{
      &-inner{
        max-width: 700px;
      }
      &-header{
        padding: 35px 0 25px;
        @include mobile{
          padding: 25px 0;
        }
        .btn-close{
          top: 20px;
          @include mobile{
            top: 15px;
            .ico-cancel{
              width: 35px;
              height: 35px;
            }
          }
        }
      }
      &-title{
        font-size: $fs-24;
        @include mobile{
          font-size: $fs-16;
        }
      }
      &-content{
        margin-bottom: 0;
        height: min(calc(100vh - 300px), 642px);
        overflow-y: auto;
        margin-right: -10px;
        padding-right: 10px;
        @include mobile{
          height: calc(100vh - 300px);
          margin-right: -10px;
          padding-right: 10px;
        }
      }
      &-footer{
        .btn-wrap{
          justify-content: center;
          margin-top: 25px;
          .btn{
            font-size: $fs-16;
            width: 137px;
            height: 54px;
            border-radius: 20px;

          }
        }
      }
    }

  }
}


// list
.search{
  &-option{
    border-radius: 20px;
    border: 1px solid var(--color-primary-40);
    background: var(--color-primary-20);
    padding: 0 30px;
    position: relative;
    .check-wrap {
      font-size: 0;
      gap: 25px;
      @extend .f-h-c;
    }
    .checkbox{
      padding: 0;
    }
    .checkbox input[type=checkbox] + label, 
    .checkbox input[type=radio] + label{font-weight: 700;}
    .checkbox input[type=checkbox] + label:before, 
    .checkbox input[type=radio] + label:before{width: 22px; min-width: 22px; height: 22px;}
    .select-wrap{
      width: 120px;
    }
    .selectric{
      height: 40px;
      border-radius: 10px;
      border: 1px solid var(--color-primary-20);
      .button{
        width: 40px;
        height: 40px;
        &:after{
          width: 25px;
          height: 25px;
        }
      }
    }
    .selectric .label{
      height: 40px;
      line-height: 40px;
      font-size: $fs-14;
      margin: 0 30px 0 10px;
    }
    .selectric-items{
      padding-top: 40px;
      li{
        height: 40px;
        min-height: 40px;
        line-height: 40px;
        font-size: $fs-14;
      }
    }
   
  }
  &-row{
    gap: 40px;
    min-height: 66px;
    padding: 13px 0;
    flex-wrap: wrap;
    &__input{
      .search-row__cont{
        gap: 10px 40px;
      }
    }
    &__tit{
      font-weight: 700;
      width: 60px;
      margin-top: 11px;
    }
    &__cont{
      gap: 10px 50px;
      flex-wrap: wrap;
      flex: 1;
    }
    & + .search-row{
      border-top: 1px solid #D7DDE4;
    }
    &__button{
      display: flex;
      align-items: end;
      .btn-wrap{
        margin-top: 0;
      }
    }
  }
  &-col{
    gap: 10px;
    @extend .f-h-c;
    &__tit{
      font-size: 12px;
    }
  }


}

.board-list{
  .header{
    margin: 20px 0 15px;
    font-size: 16px;
    font-weight: 500;
  }
}

.table{
  &-wrap{
    overflow: hidden;
  }
  &-scroll {
    max-height: 48vh;
    overflow-y: auto;
    thead{
      position: sticky;
      top: 0;
      z-index: 22;
      th{
        background-color: var(--color-primary-0);
      }
    }
  }
  &-scroll2{
    &.scroll-enabled{
    max-height: 40vh;
    overflow-y: auto;
    thead{
      position: sticky;
      top: 0;
      z-index: 22;
      th{
        background-color: var(--color-primary-0);
      }
    }
    }
  
   
  }
  border: 0;
  .checkbox{
    padding: 0;
    input[type=checkbox] + label:before{margin-right: 0;}
  }
  tr{
    &.tr-disabled{
      td, td *:not(.status-tag, .btn){
        color: var(--color-primary-60);
      }
      .ico-message{
        background-image: url("../../images/cmn/ico-message_gray.svg");
      }
    }
    &:hover, &.active{
      td{
        background-color: rgba(242, 244, 245, .5);
      }
    }
    &.no-list{
      td{
        padding: 160px 0 170px;
        color: var(--color-primary-80);
        text-align: center;
        font-size: 18px;
      }
    }
  }
  th{
    height: 50px;
    border-bottom: 1px solid var(--color-primary-30);
    font-weight: 500;
    position: relative;
    &:last-child{
      &:after{display: none;}
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 1px;
      height: 16px;
      background: var(--color-primary-20);
    }
  }
  tr:last-child td{border-bottom: 0;}
  td{
    height: 60px;
    border-bottom: 1px solid var(--color-primary-20);
    padding: 0 10px;
    .td-txt{
      font-size: inherit;
      font-weight: inherit;
    }
    .tbl-cut{
      font-size: inherit;
      font-weight: inherit;
      @extend .text-over;
      max-width: 140px;
      margin: 0 auto;
    }
    &.td_setting{
      overflow: unset;
    }
    &:hover{
      a{
        text-decoration: underline;
      }
    }
  }
  th, td{
    font-size: $fs-14;
    text-align: center;
  }
  .btn-center{
    margin: 0 auto;
  }
  &-footer{
    padding: 0 30px;
    height: 81px;
    position: relative;
    @extend .f-h-c;
    &__wrap{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      @include pc2{
        position: fixed;
        left: 80px;
        width: calc(100% - 80px);
        height: 80px;
        bottom: 0;
        background-color: var(--color-primary-0);
        border-radius: 10px 10px 0 0;
        padding: 20px;
      }
    }
    .left-controls{
      gap: 20px;
      .checkbox{padding: 0;}
      .radio-wrap{gap: 20px;}
    }
    .pagination{
      flex: 1;
      @extend .f-c-all;
      gap: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      .page-btn{
        width: 35px;
        height: 35px;
        border-radius: 10px;
        background: var(--color-primary-10);
        color: var(--color-primary-80, #5B626B);
        font-size: 16px;
        font-weight: 700;
        &.active{
          background: var(--system-navy-1);
          color: var(--color-primary-0);
        }
        &.page-first,
        &.page-prev,
        &.page-next,
        &.page-end{
          background-color: var(--color-primary-0);
          border: 1px solid var(--color-primary-30);
          @extend .f-c-all;
        }
        &.page-first i,
        &.page-end i{@include icon-style-adm(25px, 25px, "ico-page_side");}
        &.page-prev i,
        &.page-next i{@include icon-style-adm(25px, 25px, "ico-page");}
        &.page-first i,
        &.page-prev i{transform: rotate(180deg);}
      }
    }
    .btn-wrap{
      width: auto;
    }
   
    
  }

  @include pc2{
    padding: 0 30px;
    .table-list{
      padding: 24px 0;
      &.comBox-item{
        border-radius: 0;
        background: transparent;
        box-shadow: none;
        .detail-tit{
          width: 100px;
          span{
            display: block;
            width: 100%;
            white-space: pre;
          }
        }
      }
    }
  }



}

.status{
  &-tag{
    width: 60px;
    height: 24px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    margin: 0 auto;
    padding: 7px 0;
    line-height: 1.1;
    @include pc2{
      margin: 0;
    }
    @extend .f-c-all;
    &.status-big{
      width: 80px;
      height: 38px;
    }
  }
  &-normal{
    background-color: var(--system-blue-10);
    color: var(--system-blue);
  }
  &-stop{
    background-color: var(--system-red-10);
    color: var(--system-red);
  }
  &-move,
  &-dead{
    background-color: rgba(157, 164, 173, 0.1);
    color: var(--color-primary-60);
  }
}
.error{
  &-region{
    .selectric-disabled .selectric,
    .selectric{border-color: var(--system-red) !important;}
  }
  &-phone{
    .td_tel {
      input{border-color: var(--system-red) !important;}
    }
  }
}


.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  input{
    opacity: 0;
    width: 0;
    height: 0;
    &:checked{
      + .slider{
        background-color: var(--color-primary-100);
        &:before {
          transform: translateX(16px);
        }
      }
    }
  }
  .slider{
    position: absolute;
    cursor: pointer;
    background-color: var(--color-primary-40);
    border-radius: 24px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
    &:before{
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 4px;
      top: 4px;
      background-color: white;
      border-radius: 50%;
      transition: 0.3s;
    }
  }
}

.setting{
  &-menu{
    position: relative;
  }
  &-drop{
    position: absolute;
    right: 10px;
    top: 100%;
    border-radius: 20px;
    border: 1px solid var(--color-primary-20);
    background: var(--color-primary-0);
    box-shadow: 3px 3px 20px 0px rgba(136, 136, 136, 0.05);
    padding: 16px 20px;
    width: 90px;
    display: none;
    z-index: 2;
    &.active{
      display: block;
    }
    li + li{
      margin-top: 14px; padding-top: 14px; border-top: 1px solid var(--color-primary-20);
    }
    .btn{
      font-size: 14px;
      font-weight: 500;
      width: 100%;
      text-align: center;
    }
  }
}

// excel upload
.excel-upload-area {
  border-radius: 20px;
  border: 2px dashed var(--color-primary-30);
  background: var(--color-primary-10);
  cursor: pointer;
  position: relative;
  height: 120px;
  padding: 20px;
  transition: background 0.2s ease;
  .upload{
    &-before{
      width: 100%;
      height: 100%;
      @extend .f-c-all;
      flex-direction: column;
    }
    &-result {
      border-radius: 10px;
      background: var(--color-primary-0);
      padding: 5px 10px;
      align-items: center;
      gap: 20px;
      .file-name{
        @extend .f-h-c;
        gap: 10px;
        font-size: 14px;
        font-weight: 500;
        span{
          font-size: inherit;
          font-weight: 400;
          color: var(--color-primary-60);
        }
      }
     
      
    }
  }
  .file-txt{
    gap: 10px;
    i{
      width: 28px;
      height: 28px;
    }
    font-size: 18px;
    font-weight: 700;
  }

  &.dragover {
    border: 1px solid var(--system-green);
    background: rgba(58, 165, 73, 0.1);
  }
  .upload-info {
    margin-top: 5px;
    color: var(--color-primary-60,);
    text-align: center;
    font-size: 14px;
    line-height: 1.8;
  }
 
}

// card
.card{
  &.bg-primary-10{
    background-color: var(--color-primary-10);
    box-shadow: none;
    overflow: unset;
    .table th{
      background-color: var(--color-primary-10);
      border-color: #D7DDE4;
      &:first-child{border-radius: 20px 0 0 0;}
      &:last-child{border-radius: 0 10px 0 0;}
    }
  }
}


// bbsView-btn
.btn.bbsView-btn{
  justify-content: left;
  margin: 30px 0;
  font-size: $fs-18;
  font-weight: 700;
  gap: 15px;
  i{
    flex: none;
  }

}