@charset "UTF-8";
/*
 * File       : _sub.scss
 * Date       : 2025.04.
 *
 *
 * SUMMARY:
 * 01) 
 * 02) 
 * 03) 
 * 04) 
 */

.main-tit{
  font-size: 24px;
  margin-bottom: 15px;
  gap: 5px;
  i{
    margin-right: 2px;
  }
 
}
.sub-tit{
  font-size: 20px;
  margin-bottom: 15px;
  span{
    font-weight: 400;
    font-size: inherit;
  }
}

