.admin-menu {
}
.admin-menu h3 {
  font-size: 1.2rem;
  margin-bottom: 16px;
  font-weight: bold;
}
.admin-menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 20px
}
.admin-menu li {
  border-radius: 10px;
  border: 1px solid #ddd;
  width: calc(33.3333% - 20px);
  background: #fff;
  height: 200px;

}
.admin-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.admin-menu a:hover{
  background: #f0f0f0;
}