.home-container {
  max-width: 800px;
  margin: 120px auto;
  padding-left: 80px;
  text-align: left;
}


.year-listing{
  padding: 95px 100px;
  background: url('../assets/year-bg.png') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(7, 1fr); */
  gap: 70px 90px;
}
.year-listing > li{
  width: 90px;
}
.year-list {
  display: flex;
  flex-direction: column;
  gap: 14px; /* 연도 사이 간격 */
}

.year-item {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.year-item:hover {
  opacity: 1;
}


@media (max-width: 768px) {
  .home-container {
    margin: 80px auto;
    padding-left: 40px;
  }

  .year-item {
    font-size: 32px;
  }
}
