.home-container { max-width: 800px; margin: 120px auto; padding-left: 80px; text-align: left; } 
.year-listing {
  margin-bottom: 0; 
 padding: 40px 0px; 
 background: url('../assets/year-bg.png') no-repeat center center; 
 background-size: cover; 
 display: grid; 
 grid-template-columns: repeat(7, 1fr); 
 row-gap: 47px; 
 justify-items: center;
 align-content: start;
 height: 610px;
} 
.year-list { display: flex; flex-direction: column;}
.year-item { font-size: 32px; font-weight: 400; color: #fff; text-decoration: none; cursor: pointer; } 
.year-item:hover { opacity: 1; } 
.container.main{padding-bottom: 60px; padding-top: 260px;}
.main .info-copyright{bottom: 10px;}

@media (max-width: 1024px) {
  .container.main{
    padding-left: 0;
    padding-right: 0;
    height: 100vh;
  }
  .container.main .inner{
    padding: 0;
    height: 100%;
  }
  .year-listing{
    height: 100%;
    gap: 0;
    padding: 50px;
  }
}

@media (max-width: 768px) {
  .home-container {
    margin: 80px auto;
    padding-left: 40px;
  }
  .year-listing{
    padding: 40px 0;
    gap: 44px 0;
  }

  .year-item{
    font-size: 20px;
  }
  .main .info-copyright{
        position: static;
    padding: 5px 20px;
  }
}