.home-container { max-width: 800px; margin: 120px auto; padding-left: 80px; text-align: left; } 
.year-listing { padding: 95px 100px; background: url('../assets/year-bg.png') no-repeat center center; background-size: cover; display: flex; flex-wrap: wrap; gap: 70px 90px; justify-content: left; } 
.year-listing > li { width: 90px; } 
.year-list { display: flex; flex-direction: column; gap: 14px; /* 연도 사이 간격 */}
.year-item { font-size: 30px; color: #fff; text-decoration: none; font-weight: 600; cursor: pointer; } 
.year-item:hover { opacity: 1; } 

@media (max-width: 1024px) {
  .container.main{
    padding-left: 0;
    padding-right: 0;
    height: 100vh;
  }
  .container.main .inner{
    padding: 0;
    height: 100%;
  }
  .year-listing{
    height: 100%;
    gap: 0;
    padding: 50px;
  }
  .year-listing > li {
    width: 25%;
    text-align: center;
}
}

@media (max-width: 768px) {
  .home-container {
    margin: 80px auto;
    padding-left: 40px;
  }
  .year-listing{
    padding: 40px 0;
    gap: 44px 0;
  }

  .year-item{
    font-size: 20px;
  }
}
