.screensaver-wrap {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: #111;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.screensaver-img {
  width: 400px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  box-shadow: 0 4px 32px rgba(0,0,0,0.5);
  transition: background-image 0.5s;
}
.screensaver-tip {
  position: absolute;
  bottom: 40px;
  left: 0; right: 0;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  opacity: 0.7;
}
