

.sect-yearList { margin-top: 40px; } 
.work-info { display: flex; justify-content: space-between; } 
.work-info > div { text-align: left; font-weight: 400; cursor: pointer; } 
.work-year { color: #797676; font-size: 20px; font-weight: 400; } 
.work-label { font-size: 12px; color: #797676; margin-bottom: 20px; } 
.work-title { font-size:18px; font-style: italic; color: #000; } 
.work-material { font-size:18px; color: #000; } 
.work-size { font-size:18px; color: #000; } 
.work-top::after { content: ''; width: 20px; height: 20px; background: url('../assets/toggle-icon.svg') no-repeat center center; } 
.work-top { display: flex; align-items: center; justify-content: space-between; } 
.work-top.open::after { transform: rotate(180deg); } 
.work-button{width: 100%;}
.work-image{ width: 100%; margin-bottom: 40px;}
.work-image img{max-height: 400px;}
.work-list + .work-list{margin-top: 10px;}
.btn-slide-arr{width: 46px; height: 46px; background: url('../assets/ico-slide-arr.svg') no-repeat 50% / cover; cursor: pointer;}
.modal-container { position: fixed;inset: 0;background: #fff;display: flex;align-items: center;justify-content: center;z-index: 999;  } 
.modal-container .btn-slide-arr{position: absolute; top: 50%; transform: translateY(-50%); width: 80px; height: 80px; }
.btn-slide-arr{background: url('../assets/ico-slide-arr.svg') no-repeat 50% / cover; cursor: pointer;}
.btn-slide-arr.next{right: 50px;}
.btn-slide-arr.prev{transform: translateY(-50%) scaleX(-1); left: 50px;} 
.btn-close-modal{width: 44px; height: 44px; background: url('../assets/ico-close.svg') no-repeat center center; cursor: pointer;}
.slide-pagination{position: absolute; bottom: 46px; left: 50%; transform: translateX(-50%); font-size: 34px; color: #000; }    