@charset "UTF-8";
/*
 * File       : _main.scss
 * Date       : 2025.04.
 *
 *
 * SUMMARY:
 * 01) main
 * 02) 
 */



/* 색상별 정리 */
 .type{
  &-red{
    .candidate-box__top{background: var(--point-red);}
    .candidate-box__bottom .rating-tit .ico-heart{background-image: url("../images/cmn/ico-heart_red.svg");}
    .candidate-box__bottom .rating-bar p{background: var(--point-red);}
  }
  &-orange{
    .candidate-box__top{background: var(--point-orange);}
    .candidate-box__bottom .rating-tit .ico-heart{background-image: url("../images/cmn/ico-heart_orange.svg");}
    .candidate-box__bottom .rating-bar p{background: var(--point-orange);}
  }
  &-yellow{
    .candidate-box__top{background: var(--point-yellow);}
    .candidate-box__bottom .rating-tit .ico-heart{background-image: url("../images/cmn/ico-heart_yellow.svg");}
    .candidate-box__bottom .rating-bar p{background: var(--point-yellow);}
  }
  &-green{
    .candidate-box__top{background: var(--point-green);}
    .candidate-box__bottom .rating-tit .ico-heart{background-image: url("../images/cmn/ico-heart_green.svg");}
    .candidate-box__bottom .rating-bar p{background: var(--point-green);}
  }
  &-mint{
    .candidate-box__top{background: var(--point-mint);}
    .candidate-box__bottom .rating-tit .ico-heart{background-image: url("../images/cmn/ico-heart_mint.svg");}
    .candidate-box__bottom .rating-bar p{background: var(--point-mint);}
  }
  &-skyblue{
    .candidate-box__top{background: var(--point-skyblue);}
    .candidate-box__bottom .rating-tit .ico-heart{background-image: url("../images/cmn/ico-heart_skyblue.svg");}
    .candidate-box__bottom .rating-bar p{background: var(--point-skyblue);}
  }
  &-blue{
    .candidate-box__top{background: var(--point-blue);}
    .candidate-box__bottom .rating-tit .ico-heart{background-image: url("../images/cmn/ico-heart_blue.svg");}
    .candidate-box__bottom .rating-bar p{background: var(--point-blue);}
  }
  &-violet{
    .candidate-box__top{background: var(--point-violet);}
    .candidate-box__bottom .rating-tit .ico-heart{background-image: url("../images/cmn/ico-heart_violet.svg");}
    .candidate-box__bottom .rating-bar p{background: var(--point-violet);}
  }
  &-pink{
    .candidate-box__top{background: var(--point-pink);}
    .candidate-box__bottom .rating-tit .ico-heart{background-image: url("../images/cmn/ico-heart_pink.svg");}
    .candidate-box__bottom .rating-bar p{background: var(--point-pink);}
  }
  &-black{
    .candidate-box__top{background: var(--point-black);}
    .candidate-box__bottom .rating-tit .ico-heart{background-image: url("../images/cmn/ico-heart_black.svg");}
    .candidate-box__bottom .rating-bar p{background: var(--point-black);}
  }


}


.main{
  &-top{
    &__tit{font-size: $fs-20;}
    &__txt01{margin-top: 5px; color: var(--color-primary-80);}
    &__txt02{
      b{font-size: $fs-16; margin-right: 10px;}
      margin-top: 10px; font-size: $fs-14; color: var(--color-primary-60); 
    }
  }
}
.candidate-box{
  margin-top: 13px;
  border-radius: 20px;
  background: var(--color-primary-0);
  box-shadow: 0px 2px 25px 0px rgba(199, 206, 213, 0.50);
  &__top{
    border-radius: 20px;
    background: var(--point-blue);
    padding: 20px;
    position: relative;
    .candidate-box{
      &__tit{
        color: var(--color-primary-0);
        margin-bottom: 10px;
        display: block;
      }
      &__profile{
        .profile{
          &-tit{
            b{font-size: $fs-20;  color: var(--color-primary-0);}
            span{font-size: $fs-14; margin-left: 10px;  color: var(--color-primary-0);}
          }
          &-cont{
            margin-top: 10px;
            p{color: var(--color-primary-0); line-height: 1.5; font-size: $fs-14;  opacity: .8;}
          }
        }
      }
    }
    .drop-btn{
      position: absolute;
      bottom: 8px;
      right: 8px;
      width: 24px;
      height: 24px;
      background-color: rgba(255,255,255,0.25);
      border: 1px solid #fff;
      border-radius: 50%;
      .ico-drop_w{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include icon-style(24px, 24px, "ico-drop_white");
      }

    }
  }
  &__bottom{
    padding: 18px 20px;
    .rating{
      &-tit{
        .ico-heart{@include icon-style(26px, 26px, "ico-heart_blue")}
        &__num{font-size: $fs-24;}
      }
      &-bar{
        margin-top: 15px;
        width: 100%;
        border-radius: 50px;
        background: var(--color-primary-20);
        position: relative;
        height: 10px;
        p{
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 50px;
          background: var(--point-blue);
          height: 100%;
        }
      }
      &-list{
        margin-top: 24px;
        li{
          b{
            font-size: $fs-18;
            span{font-size: $fs-14;}
          }
        }
        li + li{margin-top: 10px;}
      }

    }
  }
  
}

.activity{
  &-cont{
    margin-top: 27px;
  }
  &-box{
    border-radius: 20px;
    background: var(--color-primary-10);
    padding: 14px 18px;
    > ul > li{
      flex: 1;
    }
    li + li{
      margin-left: 17px;
      padding-left: 17px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 1px;
        height: 100%;
        background: var(--point-black);
        opacity: 0.05;
      }
    }
    &__tit{
      font-weight: 500;
    }
    &__cont{
      margin-top: 5px;
      border-radius: 100px;
      background: var(--color-primary-0);
      padding: 4px 15px 4px 10px;
      b{
        font-size: 18px;
      }
    }
  }
}