@charset "UTF-8";
/*
 * File       : _sub.scss
 * Date       : 2025.04.
 *
 *
 * SUMMARY:
 * 01) login
 * 02) 
 */


/*---- 01) login ----*/
.login{
  &-logo{
    padding-bottom: 40px;
  }
  &-wrap{
    .input-wrap + .input-wrap{margin-top: 10px;}
    .btn-wrap{margin-top: 20px;}
  }
}

/*---- 02) selectSg ----*/
.selectSg{
  > li + li{margin-top: 18px;}
  &-box{
    border-radius: 20px;
    overflow: hidden;
    background: var(--color-primary-0);
    box-shadow: 0px 2px 25px 0px rgba(199, 206, 213, 0.50);
  }
  &-top{
    @extend .f-c-space;
    height: 45px;
    padding: 0 20px;
    padding-right: 50px;
    position: relative;
    .ico{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
    }
    &__tit{
      font-size: $fs-18;
      color: var(--color-primary-0);
      b{
        font-size: inherit;
        color: inherit;
      }
    }
    &__state{
      border-radius: 50px;
      border: 1px solid var(--color-primary-100);
      background: var(--color-primary-0);
      font-size: $fs-12;
      color: var(--color-primary-100);
      padding: 2px 10px;
    }

   
  }
  &-cont{
    padding: 0 20px;
    &__top{
      padding: 17px 0;
      text-align: center;
      b{
        font-size: $fs-20;
      }
      p{
        font-size: $fs-14;
        margin-top: 4px;
        color: var(--color-primary-80);
      }
    }
    &__bottom{
      border-top: 1px solid var(--border-color);
      padding: 20px 0;
      @extend .f-c-all;
      gap: 20px;
      .selectSg-dday{
        @extend .f-c-all; 
        width: 140px;
        height: 45px;
        border-radius: 10px;
        background: var(--color-primary-10);
        font-size: $fs-24;
        font-weight: 700;
      }
      p{
        color: var(--color-primary-60);
        font-size: $fs-14;
      }
    }
  }
  .state-pause{
    pointer-events: none; /* 클릭 차단 */
    cursor: default;
    .selectSg{
      &-top{
        background-color: var(--color-primary-60);
      }
      &-cont{
        &__top{
          *{color: var(--color-primary-60);}
        }
        &__bottom{
          .selectSg-dday{
            color: var(--color-primary-60);
          }
          p{color: var(--color-primary-50);}
        }
      }
     

    }
  }
}

/*---- 03) comBox ----*/
.comBox{
  &-top{
    margin-bottom: 15px;
  }
  &-item{
    border-radius: 20px;
    background: var(--color-primary-0);
    box-shadow: 0px 2px 25px 0px rgba(199, 206, 213, 0.50);
    padding: 0 20px;
    &.state{
      &-disabled{
        background: var(--color-primary-30);
        *{
          color: var(--color-primary-70);
          border-color: var(--color-primary-50);
        }
        .detail-idea .detail-more{
          background: var(--color-primary-30);
        }
      }
    }
    &.comBox-view{
      background: var(--color-primary-20);
      box-shadow: none;
      padding: 20px 20px 5px;
    }
    + .comBox-item{margin-top: 18px;}
    &__top{
      padding: 5px 0;
      margin-bottom: 14px;
      border-bottom: 1px solid var(--border-color);
      min-height: 48px;
      .num{
        color: var(--color-primary-80);
        font-size: $fs-14;
      }
    }
    .tit{
      color: var(--color-primary-80);
      font-weight: 500;
      span{
        color: inherit;
      }
    }
    .profile{
      &-tel{
        color: var(--color-primary-80);
        text-align: right;
        font-weight: 500;
      }
    }
    .detail{
      margin: 11px 0 0;
      padding-bottom: 15px;
      li{
        @extend .f-c-space;
        + li{margin-top: 8px;}
        &.detail-idea{
          align-items: flex-start;
        }
        &.detail-hidden{
          display: none;
        }
      }
      &-tit{
        width: 60px;
        flex: none;
        span{
          font-size: $fs-14;
          font-weight: 400;
          color: var(--color-primary-80);
        }
      }
      &-idea{
        .detail-more {
          display: none;
          position: absolute;
          right: 0;
          bottom: 0;
          background: var(--color-primary-0);
          color: inherit;
          font-size: inherit;
          text-decoration: underline;
          cursor: pointer;
        }
        .detail-cont{
          color: var(--color-primary-80);
          font-weight: 400;
          &.active{
            -webkit-line-clamp: unset;
              overflow: visible;
            .detail-more{
              position: static;
            }
          }
        }
      }
      &-cont{
        font-size: $fs-14;
        font-weight: 500;
        word-break: keep-all;
        line-height: 1.4;
        max-width: 224px;
        text-align: right;
        position: relative;
        @extend .text-over2;
      }
    
    }
    &__bottom{
      padding: 10px 0;
      border-top: 1px solid var(--color-primary-20);
      .btn{
        width: 100%;
        font-size: $fs-14;
        &.open{
          &:after{
            transform: rotate(180deg);
          }
        }
        &:after{
          content:'';
          @include icon-style(16px, 16px, "ico-drop");
        }
      }
    }
  }

}
.noList{
  &::before{
    content: '';
    @include icon-style(80px, 80px, "noList-profile");
  }
  @extend .f-c-all;
  flex-direction: column;
  gap: 10px;
  margin-top: 95px;
  padding-bottom: 100px;
  p{
    color: var(--color-primary-80);
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
  }
}

/*---- 04) notice ----*/
.notice{
  &-list{
    border-top: 1px solid var(--color-primary-30);
    li{
      padding: 25px 0;
      border-bottom: 1px solid var(--color-primary-30);
    }
  }
  &-tit{
    font-weight: 500;
    @extend .text-over;
  }
  &-info{
    margin-top: 8px;
    color: var(--color-primary-60);
    font-size: $fs-14;
    span{
      font-size: $fs-14;
      color: var(--color-primary-30);
    }
  }
  &-detail{
    &__top{
      padding-bottom: 25px;
      border-bottom: 1px solid var(--color-primary-30);
      .notice-tit{font-size: 18px; font-weight: 700; white-space: normal;}
      .notice-info{font-size: 16px; margin-top: 10px;}
    }
    &__cont{
      margin-top: 15px;
    }
    &__txt{
      margin-top: 25px;
      img{max-width: 100%;}
      p{
        color: #000;
        line-height: 1.8;
      }
    }
    &__file{
      border-radius: 10px;
      padding: 11px 16px;
      padding-left: 40px;
      background: url("../../images/cmn/ico-file.svg") no-repeat left 10px top 10px / 20px 20px;
      background-color: var(--color-primary-10);
      .file-name{
        font-size: $fs-14;
        font-weight: 500;
        text-decoration: underline;
        @extend .text-over2;
      }
      .file-size{
        font-size: $fs-12;
        margin-top: 5px;
        color: var(--color-primary-60);
      }
    }
  }
}




@keyframes loading-spin {
  100% { transform: rotate(360deg); }
}
@keyframes loading-circle-ani {
  0% { stroke-dashoffset: 157; }
  75% { stroke-dashoffset: -147; }
  100% { stroke-dashoffset: -157; }
}
.loading-circle {
  animation: loading-spin 3s infinite;
}
.loading-circle circle {
  animation: loading-circle-ani 1s infinite;
}