@charset "UTF-8";


body{overflow: hidden;}
.inner { padding: 0 23px; }
main {max-width: 100%;width: 100%;height: 100vh;margin: 0 auto;background: url("../../images/bg_pc.png") no-repeat top -5vh center/ cover;position: relative;}
.main .intro01 { cursor: pointer; width: 100%; height: 100%; }
.main-cover { position: absolute; top: 340px; left: 50%; transform: translateX(-50%); }
.main-cover img {max-width: 261px;}
.main-footer { position: absolute; bottom: 60px; left: 50%; transform: translateX(-50%); }
.main-top {position: absolute;top: calc(var(--vh) * 15);left: 50%;transform: translateX(-50%);width: 100%;text-align: center;} 
.main-top__side{display: flex;justify-content: space-between;align-items: center;position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);width: 266px;z-index: -1;}
.main-top img {max-width: 80px;}
.intro-cont{height: 100%;}
.intro02 { height: 100%; display: flex; flex-direction: column; justify-content: space-between; gap: 28px; position: relative; }
.intro02-cont {position: relative;height: calc(100% - 30.46vh);margin-top: 30.46vh;}
.intro02-img {height: 100%;max-width: calc(750px + 46px);width: 100%;padding: 0 23px;margin: 0 auto;position: relative;display: flex;justify-content: center;align-items: center;overflow-x: auto;overflow-y: hidden;justify-content: flex-start;} 
.intro02-img img {height: 100%;width: auto;display: block;margin: 0 auto;transition: transform 1s;} 
.intro02.active .intro02-img img {transform: scale(1.1); } 
.intro02-bg {position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0, 0, 0, 0.75);opacity: 0;z-index: 3;transition: opacity 1s;transition-delay: 1s;width: 100%;height: 100%;max-width: calc(750px + 46px);margin: 0 auto;}
.intro02-bg.active { opacity: 1; }
.intro02-box {opacity: 0;transition: opacity 1s;transition-delay: 2s;position: absolute;z-index: 4;width: 100%;height: 100%;top: 0;left: 0;text-align: center;font-size: 0;padding-bottom: 60px;padding-top: 49px;}
.intro02-box .inner {display: flex;flex-direction: column;justify-content: space-between;height: 100%;} 
.intro02.active .intro02-box { opacity: 1; }
.intro-txt {font-family: var(--font-line);text-align: center;color: #fff;font-size: 19px;margin-bottom: 60px;}
.intro02-list { width: 100%; }
.intro02-list > li {text-align: right;width: 100%;font-size: 0;}
.intro02-list > li:nth-child(2) {text-align: left;margin-top: -58px;}
.intro02-list > li:nth-child(3) {margin-top: -38px;}
.btn-next { width: 65px; height: 65px; background: url("../../images/btn-next.svg") no-repeat 50% / cover; }
.intro02_2 .intro-txt{line-height: 1.6;}
.intro02_3 .inner { justify-content: end; } 
.intro-txt02{margin: 14px 0 22px; font-family: var(--font-line); font-size: 20px; color: var(--color-main); font-weight: 700;}
.intro03 { width: 100%;}
.btn-style-yellow { background: var(--color-main); border: 2px solid #000; color: #000; font-family: var(--font-line); font-size: 22px; font-weight: 700; width: 100%; height: 62px; line-height: 62px; text-align: center; position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%);max-width: calc(750px - 40px);  width: 100%; }
.intro02-box.intro02_3 { padding-bottom: 30px; } 

.main-list {display: flex;align-items: center;justify-content: space-between;flex-wrap: wrap;font-size: 0;max-width: 326px;width: 100%;margin: -7.5px auto;} 
.main-list > li{padding: 7.5px 5px; width: 33.3333%}
.list-box{cursor: pointer;width: 100%; display: flex; flex-direction: column; align-items: center;}
.list-num { text-align: center; font-size: 0; margin-bottom: 10px;} 
.list-bg { font-size: 0; position: relative; z-index: 1; } 
.list-bg img{width: 100%;}
.list-cont {position: relative;width: 101px;height: 123px;} 
.list-img{font-size: 0;width: 100%;}
.list-img img {width: 100%;}
.btn-next.btn-sm { width: 31px; height: 31px; background-image: url("../../images/btn-next_sm.svg"); position: absolute; bottom: -10px; left: 50%; transform: translateX(-50%); z-index: 1; } 
.hover-cont {display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;} 
.hover-txt {position: absolute;top: 17px;left: 4px;width: 91px;height: 100px;text-align: center;font-size: 13px;font-weight: 700;display: flex;align-items: center;justify-content: center;padding-bottom: 25px;} 
.main-list .list01 .hover-txt{background-color: var(--color-list01); color: #fff;}
.main-list .list02 .hover-txt{background-color: var(--color-list02); color: #000;}
.main-list .list03 .hover-txt{background-color: var(--color-list03); color: #fff;}
.main-list .list04 .hover-txt{background-color: var(--color-list04); color: #fff;}
.main-list .list05 .hover-txt{background-color: var(--color-list05); color: #fff;}
.main-list .list06 .hover-txt{background-color: var(--color-list06); color: #fff;}
.main-list .list07 .hover-txt{background-color: var(--color-list07); color: #000;}
.main-list .list08 .hover-txt{background-color: var(--color-list08); color: #fff;}
.main-list .list09 .hover-txt{background-color: var(--color-list09); color: #000;}
.intro02-box.intro02_1 .inner{justify-content: left;max-width: calc(430px + 40px);}




@media (max-width: 1600px) {
  .main-cont .intro02 .main-top{}
  .intro02-cont{margin-top: 280px;height: calc(100% - 280px);}
  .main-cover{top: 210px;}
  .intro-txt{margin-bottom: 55px;}


}


@media (max-width: 1439px) {
}

@media (max-width: 1279px) {
 
}

/* 작은 데스크탑 / 태블릿 가로 (1024px 미만) */
@media (max-width: 1023px) {
 
}

/* 태블릿 세로 / 대형 모바일 (768px 미만) */
@media (max-width: 767px) {
}

/* 일반 모바일 (480px 미만) */
@media (max-width: 479px) {
 
}

/* 아주 작은 화면 (360px 미만) */
@media (max-width: 359px) {

}




@media screen and (min-width: 1600px){
  main{background-position: top center;}
  .main-cover img{max-width: 353px}
  .list-cont{width: 129px; height: 160px; }
  .main-list{max-width: 415px; margin: -9px auto; justify-content: space-between;}
  .main-list > li {padding: 9px 0; width: auto;}
  .hover-txt { width: calc(100% - 12px); height: calc(100% - 30px); top: 22px; font-size: 17px; padding-bottom: 35px; } 
  .main-cont .intro02 .main-top{top: 203px}
  .main-top__side{width: 338px;}
  .main-top__side .btn:nth-child(1) img{width: 54px}
  .main-top__side .btn:nth-child(2) img{width: 49px}
  .intro02 .main-top{top: 229px;}
  .intro02-cont{margin-top: 503px;height: calc(100% - 503px);}
  .main-cont{padding-bottom: 60px;}
  .main-cont .intro02-cont{margin-top: 387px;height: 100%;}
  .main-cont .inner {height: 100%;}
  .intro-bottom {margin-top: 27px;}
  .intro02 .main-top img{max-width: 115px;}
  .main-cont .intro02 .main-top img{max-width: 102px}
  .main-cont .intro02 .main-top {top: 199px;}
  .intro02-cont {margin-top: 503px;height: calc(100% - 503px);}


}


@media screen and (max-width: 750px) {
  main{height: calc(var(--vh, 1vh) * 100);}
  .btn-style-yellow {max-width: calc(100% - 40px);}
  .intro03 .inner{padding: 0;}
  .intro02-cont {margin-top: 210px;height: calc(100% - 210px);}
  .main-cont {padding-bottom: 60px;}
  main{ background: url("../../images/bg.png") no-repeat top -8vw center / cover;}
  .container-main{overflow-y: auto;}
  .intro01-wrap { display: flex; flex-direction: column; align-items: center; justify-content: end; height: 100%; width: 100%; gap: min(10%, 90px); padding-bottom: 60px; } 
  .main-cover { position: static; transform: none; font-size: 0; } 
  .main-cover img { height: 45vh; } 
  .main-footer { position: static; transform: none; } 
  .main-top img { max-width: 60px;}
  .intro02-list {height: 100%;}
  .intro02-list > li img {height: 15vh;}


}

