@charset "UTF-8";


body{overflow: hidden;}
.inner { padding: 0 20px; }
main {max-width: 100%;width: 100%;height: 100vh;margin: 0 auto;background: url("../../images/bg_pc.png") no-repeat top -5vh center/ cover;position: relative;}
.main-cont{height: 100%;}
.main .intro01 { cursor: pointer; width: 100%; height: 100%; }
.main-cover { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.main-cover img {max-width: 261px;}
.main-footer { position: absolute; bottom: 60px; left: 50%; transform: translateX(-50%); }
.main-top {position: absolute;top: calc(var(--vh) * 15);left: 50%;transform: translateX(-50%);width: 100%;text-align: center;} 
.main-top__side{display: flex;justify-content: space-between;align-items: center;position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);width: 266px;z-index: -1;}
.main-top img {max-width: 80px;}
.intro-cont{height: 100%;}
.intro02 { height: 100%; display: flex; flex-direction: column; justify-content: space-between; gap: 28px; position: relative; }
.intro02-cont {overflow: hidden;position: relative;height: 100%;margin-top: 30.46vh;}
.intro02-img { -webkit-overflow-scrolling: touch; height: 100%; max-width: calc(750px + 40px); width: 100%; padding: 0 20px; margin: 0 auto; position: relative; display: flex; justify-content: center; align-items: center; overflow-x: auto; overflow-y: hidden; justify-content: flex-start; } 
.intro02-img img {height: 100%;width: auto;display: block;margin: 0 auto;transition: transform 1s;} 
.intro02.active .intro02-img img {transform: scale(1.1); } 
.intro02-bg {position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0, 0, 0, 0.75);opacity: 0;z-index: 3;transition: opacity 1s;transition-delay: 1s;width: 100%;height: 100%; max-width: calc(750px + 40px); margin: 0 auto;}
.intro02-bg.active { opacity: 1; }
.intro02-box {opacity: 0;transition: opacity 1s;transition-delay: 2s;position: absolute;z-index: 4;width: 100%;height: 100%;bottom: 0;left: 0;text-align: center;font-size: 0;padding-bottom: 60px;padding-top: 70px;}
.intro02-box .inner {display: flex;flex-direction: column;justify-content: space-between;height: 100%;} 
.intro02.active .intro02-box { opacity: 1; }
.intro-txt { font-family: var(--font-line); text-align: center; color: #fff; font-size: 19px; margin-bottom: 25px; }
.intro02-list { width: 100%; }
.intro02-list > li {text-align: right;width: 100%;font-size: 0;}
.intro02-list > li:nth-child(2) {text-align: left;margin-top: -58px;}
.intro02-list > li:nth-child(3) {margin-top: -38px;}
.btn-next { width: 65px; height: 65px; background: url("../../images/btn-next.svg") no-repeat 50% / cover; }
.intro02_2 .intro-txt{line-height: 1.6;}
.intro02_3 .inner { justify-content: end; } 
.intro-txt02{margin: 14px 0 22px; font-family: var(--font-line); font-size: 20px; color: var(--color-main); font-weight: 700;}
.intro03 { width: 100%; overflow: hidden; }
.btn-style-yellow { background: var(--color-main); border: 2px solid #000; color: #000; font-family: var(--font-line); font-size: 22px; font-weight: 700; width: 100%; height: 62px; line-height: 62px; text-align: center; position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%);max-width: calc(750px - 40px);  width: 100%; }
.intro02-box.intro02_3 { padding-bottom: 30px; } 

.main-list {display: flex;margin: -7.5px;align-items: center;justify-content: center;flex-wrap: wrap;font-size: 0; max-width: 326px; width: 100%; margin: 0 auto;} 
.main-list > li{padding: 7.5px; width: 33.33333%;}
.list-box{cursor: pointer;width: 100%; display: flex; flex-direction: column; align-items: center;}
.list-num { text-align: center; font-size: 0; margin-bottom: 10px;} 
.list-bg { font-size: 0; position: relative; z-index: 1; } 
.list-bg img{width: 100%;}
.list-cont {position: relative;width: 100px;height: 126px;} 
.list-img{font-size: 0;width: 100%;}
.list-img img {width: 100%;}
.btn-next.btn-sm { width: 31px; height: 31px; background-image: url("../../images/btn-next_sm.svg"); position: absolute; bottom: -10px; left: 50%; transform: translateX(-50%); z-index: 1; } 
.hover-cont {display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;} 
.hover-txt {position: absolute;top: 17px;left: 4px;width: 91px;height: 100px;text-align: center;font-size: 13px;font-weight: 700;display: flex;align-items: center;justify-content: center;padding-bottom: 25px;} 
.main-list .list01 .hover-txt{background-color: var(--color-list01); color: #fff;}
.main-list .list02 .hover-txt{background-color: var(--color-list02); color: #000;}
.main-list .list03 .hover-txt{background-color: var(--color-list03); color: #fff;}
.main-list .list04 .hover-txt{background-color: var(--color-list04); color: #fff;}
.main-list .list05 .hover-txt{background-color: var(--color-list05); color: #fff;}
.main-list .list06 .hover-txt{background-color: var(--color-list06); color: #fff;}
.main-list .list07 .hover-txt{background-color: var(--color-list07); color: #000;}
.main-list .list08 .hover-txt{background-color: var(--color-list08); color: #fff;}
.main-list .list09 .hover-txt{background-color: var(--color-list09); color: #000;}


@media screen and (max-width: 750px) {
  .btn-style-yellow {max-width: calc(100% - 40px);}
  main{background: url("../../images/bg.png") no-repeat top -8vw center / cover}
  .main-top{top: 133px;}
  .intro02-cont{margin-top: 270px;}
}



@media screen and (max-width: 376px){
  .inner { padding: 0 20px; }
  main {max-width: 393px;width: 100%;height: calc(var(--vh, 1vh) * 100);margin: 0 auto;background: url("../../images/bg.png") no-repeat top -8vw center / cover;position: relative;}
  .main .intro01 { cursor: pointer; width: 100%; height: 100%; }
  .main-cover { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
  .main-cover img {max-width: auto; height: 80vw;}
  .main-footer { position: absolute; bottom: 60px; left: 50%; transform: translateX(-50%); }
  .main-top {position: absolute;top: 13%;left: 50%;transform: translateX(-50%);width: 100%;text-align: center;} 
  .main-top__side{display: flex;justify-content: space-between;align-items: center;position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);width: 266px;z-index: -1;}
  .intro02 .main-top img,
  .main-top .btn img {height: 20vw;}
  .main-top .main-top__side .btn img{height: 10vw;}
  .intro-cont{height: 100%;}
  .intro02 { height: 100%; display: flex; flex-direction: column; justify-content: space-between; gap: 28px; position: relative; }
  .intro02-cont {overflow: hidden;position: relative;height: 100%;margin-top: 50vw;}
  .intro02-img { -webkit-overflow-scrolling: touch; height: 100%; width: 100%; position: relative; display: flex; justify-content: center; align-items: center; overflow-x: auto; overflow-y: hidden; justify-content: flex-start; } 
  .intro02-img img {height: 100%;width: auto;display: block;margin: 0 auto;transition: transform 1s;} 
  .intro02.active .intro02-img img {transform: scale(1.1); } 
  .intro02-bg {position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0, 0, 0, 0.75);opacity: 0;z-index: 3;transition: opacity 1s;transition-delay: 1s;width: 100%;height: 100%;}
  .intro02-bg.active { opacity: 1; }
  .intro02-box {opacity: 0;transition: opacity 1s;transition-delay: 2s;position: absolute;z-index: 4;width: 100%;height: 100%;bottom: 0;left: 0;text-align: center;font-size: 0;padding-bottom: 5vw;padding-top: 10vw;}
  .intro02-box .inner {display: flex;flex-direction: column;justify-content: space-between;height: 100%;} 
  .intro02.active .intro02-box { opacity: 1; }
  .intro-txt { font-family: var(--font-line); text-align: center; color: #fff; font-size: 16px; margin-bottom: 25px; }
  .intro02-list { width: 100%; height: 70vw;}
  .intro02-list > li {text-align: right; width: 100%; font-size: 0;}
  .intro02-list > li img {height: 30vw;}
  .intro02-list > li:nth-child(2) {text-align: left;margin-top: -12vw;}
  .intro02-list > li:nth-child(3) {margin-top: -38px;}
  .btn-next { width: 65px; height: 65px; background: url("../../images/btn-next.svg") no-repeat 50% / cover; }
  .intro02_2 .intro-txt{line-height: 1.6;}
  .intro02_3 .inner { justify-content: end; } 
  .intro-txt02{margin: 14px 0 22px; font-family: var(--font-line); font-size: 20px; color: var(--color-main); font-weight: 700;}
  .intro03 {width: 100%;height: 100%;overflow: hidden;  padding-bottom: 20px;}
  .intro03 .inner{height: 100%; padding: 0;}
  .btn-style-yellow { background: var(--color-main); border: 2px solid #000; color: #000; font-family: var(--font-line); font-size: 22px; font-weight: 700; width: 100%; height: 62px; line-height: 62px; text-align: center; position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%); width: calc(100% - 40px); padding: 0 20px; }
  .intro02-box.intro02_3 { padding-bottom: 30px; } 

  .main-list { display: flex; margin: -4px auto; align-items: center; justify-content: space-around; flex-wrap: wrap; font-size: 0; height: 100%; } 
  .main-list > li { margin: 0 auto; width: 33.3333%; height: 33.3333%; padding: 4px; } 
  .list-box { cursor: pointer; width: 100%; height: 100%; display: flex; flex-direction: column; overflow: hidden; padding-bottom: 10px; } 
  .list-num { text-align: center; font-size: 0; margin-bottom: 5px; height: 5vw; } 
  .list-num img{height: 100%;}
  .list-bg {font-size: 0;position: relative;z-index: 1;height: 100%;} 
  .list-bg img{/* width: 100%; */height: 15vh;}
  .list-cont {/* position: relative; */margin: 0 auto;flex-grow: 1;display: flex;flex-direction: column;height: calc(100% - 10vw); width: auto; } 
  .list-img{font-size: 0;height: 100%;flex-grow: 1; text-align: center;}
  .list-img img {height: 15vh;object-fit: cover; width: auto;}
  .btn-next.btn-sm { width: 31px; height: 31px; background-image: url("../../images/btn-next_sm.svg"); position: absolute; bottom: -10px; left: 50%; transform: translateX(-50%); z-index: 1; } 
  .hover-cont {display: none;position: static;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;} 
  .hover-txt {position: absolute;top: 13%;left: 49%;transform: translateX(-50%);width: calc(100% - 10px); height: calc(100% - 31px); text-align: center;font-size: 12px;font-weight: 700;display: flex;align-items: center;justify-content: center; padding: 13px 0 32px;} 
  .main-list .list01 .hover-txt{background-color: var(--color-list01); color: #fff;}
  .main-list .list02 .hover-txt{background-color: var(--color-list02); color: #000;}
  .main-list .list03 .hover-txt{background-color: var(--color-list03); color: #fff;}
  .main-list .list04 .hover-txt{background-color: var(--color-list04); color: #fff;}
  .main-list .list05 .hover-txt{background-color: var(--color-list05); color: #fff;}
  .main-list .list06 .hover-txt{background-color: var(--color-list06); color: #fff;}
  .main-list .list07 .hover-txt{background-color: var(--color-list07); color: #000;}
  .main-list .list08 .hover-txt{background-color: var(--color-list08); color: #fff;}
  .main-list .list09 .hover-txt{background-color: var(--color-list09); color: #000;}
  .main-cont { height: calc(var(--vh, 1vh) * 100); background: url("../../images/bg.png") no-repeat top -8vw center / cover; background-color: var(--color-main); } 
  .main-cont .inner{height: 100%;}
}
