@charset "UTF-8";

.layer{position: fixed;top: 0;left: 50%;transform: translateX(-50%);max-width: 393px;width: 100%;height: 100%;z-index: 999;overflow-y: auto; background-color: var(--color-main)}
.layer-pop {max-width: 393px;width: 100%;height: 100%;position: absolute;left: 50%;transform: translateX(-50%);display: none;top: 0;z-index: 999;} 
.layer-wrap { padding-top: 165px; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url("../../images/bg.png") no-repeat top/ cover; z-index: 9999; } 
.layer .main-top{ position: static; transform: none;}
.layer .list{display: flex; justify-content: center;}
.layer .main-top__txt {font-size: 29px;font-weight: 700;background: #FFFFFF;padding: 2px 0;border: 2px solid #000;height: 43px;width: 71px;text-align: center;} 
.layer .main-top__img { background: #EF8026; border: 2px solid #000; display: flex; align-items: center; justify-content: center; padding: 0 10px; gap: 7px; width: 43px; } 
.layer .main-top__txt.big { width: 103px; } 
.layer .main-top__img.big { width: 75px; align-items: end; padding-bottom: 5px;  }
.layer .type2 .main-top__img{background: #4BBCE7} 
.layer .list01 .main-top__img{border-left: 0;}
.layer .list02 .main-top__img{border-right: 0;}
.layer .list02 > div{border-top: 0;}
.layer-cont{overflow: hidden;position: relative;margin-top: 40px;}
.layer .btn-close{position: absolute;width: 30px;height: 30px;top: 20px;right: 20px;z-index: 9999;display: flex;align-items: center;justify-content: center;}
.layer .btn-close i{width: 16px;px;height: 16px;background: url("../../images/btn-close.svg") no-repeat 50% / cover;}
.layer-guide .main-top{padding-top: 80px;}
.layer-guide .layer-wrap {padding-top: 70px;}
.layer .main-top__bottom{font-family: var(--font-line); font-size: 15px; font-weight: 700; color: #000; text-align: center; margin: 20px 0 50px;}
.layer .guide-box{background-color: #fff; margin-top: 40px; border-top: 2px solid #000; border-bottom: 2px solid #000; padding: 40px 0 48px;}
.layer .guide-box__tit{font-family: var(--font-line); font-size: 23px; font-weight: 700; margin-bottom: 20px;}
.layer .guide-box__cont p{display: flex; align-items: center; gap: 8px; font-family: var(--font-line); font-size: 14px}
.layer .guide-box__cont p span{flex: none; display: flex; align-items: center; justify-content: center; font-family: var(--font-line); font-weight: 700; width: 24px; height: 24px; border-radius: 50%; border: 1px solid #000;}
.layer .guide-box .bg-blue{background-color: #53A9DF;}
.layer .guide-box .bg-orange{background-color: #EF8026  ;}
.layer .guide-box__cont p + p{margin-top: 10px;}
.etiquette {padding-bottom: 105px;}
.etiquette-list { display: grid; grid-template-columns: repeat(3, 1fr); gap: 22px 11px; list-style: none; padding: 0; margin: 0; } 
.etiquette-list li { text-align: center; } 
.etiquette-list__img {margin-bottom: 8px;font-size: 0;} 
.etiquette-list__cont {font-family: var(--font-line); font-size: 15px; line-height: 1.4; margin: 0; } 
.layer-top-btn{ position:absolute;bottom: 20px;right: 20px;z-index: 999;width: 65px;height: 65px;background: url("../../images/btn-top.png") no-repeat center / cover;border-radius: 50%;}

.input-top{padding: 20px 0;border-top: 2px solid #000;border-bottom: 2px solid #000;}
.input-top__tit { font-size: 28px; } 
.input-top__num { font-size: 22px; margin-bottom: 7px; } 
.input-top__num span { font-size: 16px; } 
.input-cont { padding: 50px 0 70px;} 
.question {margin-bottom: 20px;font-family: var(--font-line);font-size: 20px;letter-spacing: -0.7px;} 
.question b{font-weight: 700;}
.input-wrap textarea{border: 1px solid #000;padding: 10px;font-family: var(--font-line);}
.input-label {font-family: var(--font-line); margin-bottom: 10px; font-size: 18px;}
.input-wrap + .input-wrap{margin-top: 30px;}
.question-list img{width: 100%; margin-bottom: 30px;}

.question01 .input-top{background: url("../../images/menu01_img.svg") no-repeat right / 144px 153px; background-color: var(--color-list01);}
.question01 .input-cont{background-color: var(--color-list01_bg);}
.question01 .question b{color: var(--color-list01)}
.question-list + .question-list{margin-top: 50px;}
.question03 .input-top{background: url("../../images/menu03_img.svg") no-repeat right / 144px 153px; background-color: var(--color-list03);}
.question03 .input-cont{background-color: var(--color-list03_bg);}
.question03 .question b{color: var(--color-list03)}
.question03 .question{margin-bottom: 40px;}
.question05 .input-top{background: url("../../images/menu05_img.svg") no-repeat right / 144px 153px; background-color: var(--color-list05);}
.question05 .input-cont{background-color: var(--color-list05_bg);}
.question05 .question b{color: var(--color-list05)}
.question05 .question-list + .question-list{margin-top: 70px;}
.question06 .input-top{background: url("../../images/menu06_img.svg") no-repeat right / 144px 153px; background-color: var(--color-list06);}
.question06 .input-cont{background-color: var(--color-list06_bg);}
.question06 .question b{color: var(--color-list06)}
.question07 .input-top{background: url("../../images/menu07_img.svg") no-repeat bottom right / 144px 153px;background-color: var(--color-list07);}
.question07 .input-cont{background-color: var(--color-list07_bg);}
.question07 .question b{color: var(--color-list07)}
.question08 .input-top{background: url("../../images/menu08_img.svg") no-repeat right / 144px 153px; background-color: var(--color-list08);}
.question08 .input-cont{background-color: var(--color-list08_bg);}
.question08 .question b{color: var(--color-list08)}

.contents-top { position: relative; height: 350px; padding: 14px 0 18px; border-bottom: 2px solid #000;} 
.contents-top img { position: absolute; right: 0; bottom: 0; } 
.contents-top h3{font-size: 43px;}
.contents-top p{font-family: var(--font-line); font-size: 40px;}
.contents-top span{font-family: inherit; font-size: 30px;}
.contents-top .inner{display: flex;flex-direction: column;justify-content: space-between;height: 100%;}
.container-list01 .contents-top{background-color: var(--color-list01);}

